/* css file for tabbed layout html file*/
#home:target, #services:target, #products:target, #register:target, #contactus:target{
    z-index: 1;
}
.hide{
  display: none;
}
.link{
    align-items: flex-end;
    border:1px solid #000;
    display: block;
    height: 2em;
    float: left;
    line-height: 2em;
    padding-right: 20px;
    font-style: normal;
    text-decoration: none;
}
#pages{
  min-height: 250px;
  position: relative;
}
.tab show{
    display: block;
}
.tab{
    float: left;
    list-style: none;
    margin: 0 1px 0 0;
    text-decoration: none;
}
#tablayout{

    border: solid 1px;
    clear: left;
    display: block;
    height:500px;
}
#tablayout ul li a#homepage{
    border-bottom: 1px solid;
}
#tablayout ul li a#homepage:hover{
    background-position: 0 -120px;
}
#tabs{
    display:inline;
    height: 2em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 50%;
}
#tabs a:hover{
  background-color: #FFFFF0;
  background-position: 0 -120px;
}
#tabs:after{
    clear: both;
    content: "";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
